<div id="<%= dom_id stock %>">
  <p>
    <strong>Car model:</strong>
    <%= stock.car_model_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= stock.color_id %>
  </p>

  <p>
    <strong>Milage:</strong>
    <%= stock.milage %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= stock.cost %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stock.price %>
  </p>

</div>
